<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Politickr</title>
    </head>
    <body>
        <h1>Politickr</h1>
        <p>Here, we are going to try and figure out some valuable political information!</p>
        <form>
        	<p>Check all that you agree with:</p>
        	<input type="checkbox" name="Trump" value="1">Trump believes in sending American troops to defeat Isis and occupy their territory, financed through the capture and sale of IS-held oil fields.<br>
        	<input type="checkbox" name="Carson"value="1">
        	Establish a safe haven for refugees inside Syria, and continue current strategy of bombing both Syrian Government and ISIS positions.<br>
        	<input type="checkbox" name="Bush" value="1">
        	Declare war on ISIS, create regional international coalition to send in ground troops (including American troops) and pursue policy to destroy ISIS.<br>
        	<input type="checkbox" name="Rubio" value="1">
        	Declare war on ISIS, create regional international coalition to send in ground troops (including American troops). Also includes continued pressure against Syrian Government.<br>
        	<input type="checkbox" name="Cruz" value="1">
        	Reinforce the Kurdish opposition and support their quest for an autonomous republic in Syria/Iraq. No American troops, but flow of arms/support to Kurds and moderate Syrian opposition.<br>
        	<input type="checkbox" name="Kasich" value="1">
        	Declare war on ISIS and create an international coalition to defeat them in Iraq, but stay out of the civil war in Syria entirely.<br>
        	<input type="checkbox" name="Christie" value="1">
        	Establish a no-fly zone over ISIS and create a Middle Eastern coalition to defeat ISIS militarily. Supports sending reinforce the coalition.<br>
        	<input type="checkbox" name="Paul" value="1">
        	Arm Moderate Syrian opposition and Kurds to defeat ISIS militarily while still continuing airstrikes against both Syrian government and ISIS.<br><br>
        	<input type="submit" value="Submit">
        </form>
    </body>
</html>